<nav class="navbar navbar-expand-md navbar-dark navbar-fixed-top" style="background-color: #000000">
    <img src="~/images/street-food (1).svg"  style=" position:relative;left:20px;" width="35px" height="35px">
    <a class="navbar-brand" href="~/Home/Index" style=" color:white; position:relative;left:35px;font-size:25px">
        HawkerCorner
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#publicBar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="publicNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-light" href="~/Home/Tool"style=" color:white; position:relative;left:40px;">Tool</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="~/Comments/Index"style=" color:white; position:relative;left:40px;">Discussion Board</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <!-- A link for logging in user -->
                <a class="nav-link text-light" href="~/Home/LoginView">Log In</a>
            </li>
        </ul>
    </div>
</nav>
