
@{
    ViewData["Title"] = "OrderAwait";
}

<h1>OrderAwait</h1>

<head>
    <meta http-equiv="refresh" content="10;url=https://localhost:44339/menu" />
</head>
<body>
    Thank you for your order!
    Your Order will take a while as we are looking for a Deliverer for your order!
    Do browse our catalog while waiting. Thank you for staying with Hawker Corner!
    <br />
    Redirecting in 10 seconds...
</body>