
@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center;">Do you feeling like ordering in or making a delivery?</h1>
<br />
<br />
<div class="col text-center">
    <a href="~/Menu" class="btn btn-secondary btn-lg">Place an Order</a>
    <a href="~/Deliverer" class="btn btn-secondary btn-lg">Make a Delivery</a>
</div>

